

body {
  background: radial-gradient(circle,#cbc3c3,0.06em,transparent 0.06em);
  background-size: 0.8em 0.8em;
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
